:root {
  --primary-color: #a76ada;
  --secondary-color: #d9dad7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Ephesis", cursive;
}

body {
  background: rgb(10, 10, 22) 90.4%;
}
h1,
h2,
h3,
h4,
header {
  text-align: center;
  margin: 0 auto;
  color: white;
}

h1 {
  font-size: 50px;
  font-family: var(--font-family);
}
h2,
header {
  font-size: 25px;
  text-align: center;
  font-family: var(--font-family);
}

h3 {
  font-size: 24px;
}

.hero {
  padding: 160px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/fuji.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}
.hero-content {
  position: relative;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
.btn-branding {
  background: black;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background: white;
  color: black;
}

.tslogo {
  max-width: 100px;
}
.footer {
  border-bottom: 1px solid #651e9f;
  font-family: var(--font-family);
}
.copyright {
  color: white;
}
.navigation-links {
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand,
.end-text {
  font-family: var(--font-family);
}
.navbar-brand:hover {
  text-decoration: underline;
}
.nav-link,
.about-link {
  color: white !important;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover,
.about-link:hover {
  color: white !important;
  background: var(--primary-color);
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}
.navbar-brand-title {
  color: white !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167, 106, 218, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(167, 106, 218, 1);
}

.contact {
  font-size: 36px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 10px;
}
.contact-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.about-paragraphs p {
  margin: 10px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 600px;
  font-family: var(--font-family);
}

.email,
.email-link,
.social-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}
.email-link:hover,
.social-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.bg-purple {
  background: var(--secondary-color);
}
.btn-outline-secondary:hover {
  color: white !important;
  background: #651e9f !important;
  cursor: pointer;
}

.border-class {
  border: 1px solid #651e9f;
  margin: 10px;
  padding: 10px;
  max-width: 800px;
}
.soon,
.kpopmama,
.weather {
  display: block;
  text-align: center;
  margin: 5px 20px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 33px;
  }
  .navbar-brand-title {
    display: none;
  }
}

@media (min-width: 275px) {
  h1 {
    font-size: 55px;
    margin: 5px;
  }
  .email-link {
    display: block;
    text-align: center;
  }
  .navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 415px) {
  .email,
  .icon {
    display: none;
  }
}
