:root {
  --primary-color: #651e9f;
  --secondary-color: #d8c1d8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Roboto", sans-serif;
}

body {
  background: #e6e0e0;
}
h1,
h2,
h3,
h4,
header {
  text-align: center;
  margin: 0 auto;
  color: black;
}

h1 {
  font-size: 50px;
  font-family: var(--font-family);
}
h2,
header {
  font-size: 25px;
  font-family: var(--font-family);
}

h3 {
  font-size: 20px;
}
h5 {
  text-align: center;
}
.main-hero {
  padding: 160px 20px 225px 10px;
  background-image: url(/images/fuji3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.hero-blog {
  background-image: url(/images/blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
}
.hero-blog-design {
  background-image: url(/images/designhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
}
.hero-blog-dev {
  background-image: url(/images/dev.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
  opacity: 0.8;
}
.hero-blog-current {
  background-image: url(/images/plans.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
}
.hero-blog-news {
  background-image: url(/images/news.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
}
.hero-blog-thanks {
  background-image: url(/images/thanks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 20px 200px 10px;
}
.hero {
  background: #dbd5d5;
  text-align: center;
  padding: 130px 20px;
}
.hero-content {
  position: relative;
  color: white !important;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-weight: 900;
  margin-bottom: 0;
  color: white !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2.5px black;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  color: black !important;
}
.btn-branding {
  background: black;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background: white;
  color: black;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid black;
}
.btn-branding-outline:hover {
  color: black;
  background: var(--secondary-color);
}
.img-homepage {
  max-width: 80%;
}
.hero-enter {
  margin: 150px 0;
}
.enter {
  color: black !important;
}
.project-description {
  padding: 50px 20px;
}
a {
  color: white;
}
.main {
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  width: 170px;
  margin: 20px auto;
}

.tslogo {
  max-width: 100px;
}
.footer {
  border-bottom: 1px solid var(--primary-color);
  font-family: var(--font-family);
}
.copyright {
  color: black;
}
.navigation-links {
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
}

.navbar-brand,
.end-text {
  font-family: var(--font-family);
  font-size: 12px;
}
.navbar-brand:hover {
  text-decoration: underline;
}
.nav-link,
.about-link {
  color: black !important;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover,
.about-link:hover {
  color: white !important;
  background: var(--primary-color);
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}
.navbar-brand-title {
  color: black !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167, 106, 218, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(167, 106, 218, 1);
}

.contact {
  font-size: 36px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.about-paragraphs p {
  margin: 10px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
  font-family: var(--font-family);
}
.job {
  border: 1px solid var(--primary-color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 60px;
}
.support {
  list-style: none;
}
.feedback {
  max-width: 200px;
}

.email,
.email-link,
.social-link,
.workshop {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}
.email-link:hover,
.social-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.bg-purple {
  background: var(--secondary-color);
}
.btn-outline-secondary:hover {
  color: white !important;
  background: #651e9f !important;
  cursor: pointer;
}

.border-class {
  border: 1px solid var(--primary-color);
  margin: 10px;
  padding: 10px;
  max-width: 800px;
}
.portfolio {
  font-size: 35px;
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  width: 170px;
}
.shecodes-content {
  margin-top: 2%;
}

.primary-color {
  color: var(--primary-color);
}
.main-picture {
  border: 9px solid var(--secondary-color);
  border-radius: 4px;
}
.soon,
.kpopmama,
.weather {
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  line-height: 27px;
  padding: 10px 30px;
  transition: all 100ms ease-in-out;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 33px;
  }
  .navbar-brand-title {
    display: none;
  }
}

@media (min-width: 275px) {
  h1 {
    font-size: 55px;
    margin: 5px;
  }
  .email-link {
    display: block;
    text-align: center;
  }
  .navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 415px) {
  .email,
  .icon {
    display: none;
  }
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
.privacy {
  margin: 20px auto;
  max-width: 1000px;
}
.privacy-link {
  color: var(--primary-color);
  cursor: pointer;
}
.privacy-link:hover {
  color: black;
}
.container-team {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row-team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column-team {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .column-team {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .column-team {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .column-team {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.section-title {
  width: 100%;
  text-align: center;
  padding: 45px 0 30px 0;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  left: calc(50% - 25px);
  background: #353535;
}

.section-title h1 {
  color: #353535;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {
  .section-title h1 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media (max-width: 567.98px) {
  .section-title h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
.team-6 {
  margin-bottom: 30px;
}

.team-6 .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.team-6 .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 15px solid #f3f4fa;
  transition: all 0.3s;
}

.team-6:hover .team-img img {
  border: 0px solid #f3f4fa;
}

.team-6 .team-content {
  text-align: center;
}

.team-6 .team-content h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team-6 .team-content h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.team-6 .team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.team-6 .team-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 12px 0 10px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  transition: all 0.3s;
}

.team-6 .team-social a.social-tw {
  background: #00acee;
}

.team-6 .team-social a.social-fb {
  background: #3b5998;
}

.team-6 .team-social a.social-li {
  background: #0e76a8;
}

.team-6 .team-social a.social-in {
  background: #3f729b;
}

.team-6 .team-social a.social-gh {
  background: black;
}

.team-6 .team-social a:last-child {
  margin-right: 0;
}

.team-6 .team-social a:hover {
  background: #222222;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
}

#return-to-top:hover {
  background: var(--secondary-color);
  transition: all 0.7s ease;
}
#return-to-top:hover i {
  color: black;
}

.cat-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-white {
  color: #fff !important;
}

.container-fluid {
  width: 100%;
  padding-right: 15 px;
  padding-left: 15 px;
  margin-right: auto;
  margin-left: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}

.bg-secondary {
  background-color: #f2f1f8 !important;
}
.h5 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #44425a;
}
.text-primary {
  color: var(--primary-color) !important;
}
.blog {
  font-size: 35px;
}

.blog-p {
  background: white;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  max-width: 900px;
}
.blog-cat {
  background-color: var(--primary-color) !important;
}
